body {
    font-family: 'Roboto' , sans-serif;
    background-color: #FFE4E1;
}

.navbar {
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #23232e;
        height: 12vh;
        width: 100%;
        
    }
    .logo {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .mobile-menu {
        display: none;
        cursor: pointer;
        div {
            width: 32px;
            height: 2px;
            background-color: #fff;
            margin: 8px;
        }
    }
    a.hover {
        opacity: 0.7;
    }
    .nav-list {
        list-style: none;
        display: flex;
        li {
            letter-spacing: 0px;
            margin-left: 32px;

            a{
                font-family: 'Roboto', sans-serif;
                font-size: medium;
            }
        }
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}

.header {
    display: flex;
    background-image: url(../imagens/imagem_fundo1.avif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content:first baseline;
    font-size: 30px;
    padding-left: 30px;
    p {
        color: aliceblue;
    }
    .btn{
        background-color: #23232e ;
        font-family: 'Roboto' , sans-serif;
        padding: 15px;
        color: #fff;
        border-radius: 999px;
        border: none;
        outline: none;
        margin: 5px;
        font-weight: 300;
            &:hover{
            background-color: $cor_secundaria;
            }
        }
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    .about {
        display: flex;
        align-items: center;
        .lado_texto {
            text-align: center;
            padding: 25px;
        }
    }
    img {
        width: 50%;
        max-height: 500px;
    }
}

@media (max-width: $quebra_tablet) {
    .navbar {
        .nav-list {
            position: absolute;
            top: 8vh;
            right: 0;
            width: 50vw;
            height: 100vh;
            position: fixed;
            background-color: #23232e;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            transform: translate(100%);
            transition: transform 0.3 ease-in;
            li {
                margin-left: 0;
                opacity: 0;
            }
        }
        .mobile-menu {
            display: block;

        }
        .nav-list.active{
            transform: translate(0);
        }
    }
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(50px);    
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}