
/* barra de navegação mostroario */
body {
    font-family: 'Roboto', sans-serif;
    background-color: $cor_fundo;
    overflow-x: hidden;
}


/* estilo dos cards */
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .card{
        margin: 0 20px;
        margin-top: 100px;
        width: 20%;
        min-width: 200px;
        background-color: white;
        border-radius: 10px;

        a{
            color: black;
            margin: 0;
            padding: 0;
        }
        .img_card{
            width: 100%;
            img{
                border-radius: 10px 10px 0 0 ;
                width: 100%;

            }

        }
        .texto_card{
            padding: 10px;
            h3{
                color: $cor_principal;
                text-transform: uppercase;
                margin-bottom: 5px;
            }
        }


    }
}


